In [8]:
import pandas as pd
import numpy as np


import kagglehub
from pathlib import Path

In [11]:
path = kagglehub.dataset_download("tawfikelmetwally/automobile-dataset")

csv_file = Path(path) / "Automobile.csv"

df = pd.read_csv(csv_file)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.12)

In [14]:
df.head()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

In [17]:
df.columns

Index(['name', 'mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin'],
      dtype='object')

In [21]:
df.shape

(398, 9)

In [23]:
df.dtypes

name             object
mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model_year        int64
origin           object
dtype: object

In [25]:
df.dtypes.unique()

array([dtype('O'), dtype('float64'), dtype('int64')], dtype=object)

In [27]:
df['weight'].max()

5140

In [29]:
df['horsepower'].max()

230.0

In [31]:
df['horsepower'][4]

140.0

In [33]:
df['horsepower'].mean()

104.46938775510205

In [35]:
df['displacement'].min()

68.0

In [37]:
df[['horsepower','displacement']].agg(['count','mean','min','median','max','std'])

        horsepower  displacement
count   392.000000    398.000000
mean    104.469388    193.425879
min      46.000000     68.000000
median   93.500000    148.500000
max     230.000000    455.000000
std      38.491160    104.269838

In [39]:
df[['mpg','cylinders','acceleration']].describe()

              mpg   cylinders  acceleration
count  398.000000  398.000000    398.000000
mean    23.514573    5.454774     15.568090
std      7.815984    1.701004      2.757689
min      9.000000    3.000000      8.000000
25%     17.500000    4.000000     13.825000
50%     23.000000    4.000000     15.500000
75%     29.000000    8.000000     17.175000
max     46.600000    8.000000     24.800000

In [41]:
df['name']

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object

In [46]:
df['name'].value_counts()

name
ford pinto             6
toyota corolla         5
amc matador            5
ford maverick          5
chevrolet chevette     4
                      ..
chevrolet monza 2+2    1
ford mustang ii        1
pontiac astro          1
amc pacer              1
chevy s-10             1
Name: count, Length: 305, dtype: int64

In [48]:
df[(df['name'].str.contains("ford")) & (df['horsepower'] > 90)]['name'].value_counts()

name
ford gran torino            3
ford galaxie 500            3
ford country squire (sw)    2
ford gran torino (sw)       2
ford ltd                    2
ford torino                 1
ford granada                1
ford fairmont futura        1
ford ltd landau             1
ford futura                 1
ford thunderbird            1
ford mustang ii             1
ford f108                   1
ford pinto                  1
ford country                1
ford f250                   1
ford granada l              1
Name: count, dtype: int64

In [50]:
df[(df['name'].str.contains("toyota")) & (df['mpg'] > 15)]['name'].value_counts()

name
toyota corolla               5
toyota corona                4
toyota corolla 1200          2
toyota mark ii               2
toyota corona mark ii        1
toyota corona hardtop        1
toyota corolla 1600 (sw)     1
toyota carina                1
toyota corolla liftback      1
toyota celica gt liftback    1
toyota corolla tercel        1
toyota corona liftback       1
toyota starlet               1
toyota tercel                1
toyota cressida              1
toyota celica gt             1
Name: count, dtype: int64